* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url("snow.png"), auto; */
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  /* min-height: 80vh; */
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
  background: red;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.link h2 {
  padding: 0rem 2rem;
}

.games {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
}

.pro img {
  position: absolute;
  top: -40%;
  right: 80%;
}

.pro h2 {
  width: 100%;
  color: white;
  font-weight: 800;
}

.pro img {
  height: 50px;
  width: 50px;
}

.profile-photo {
  height: 90px;
  width: 90px;
  border-radius: 2rem;
}
.logo {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.logo img {
  height: 50px;
  width: 50px;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #65dfc9;
}

/* Giriş Animasyonu */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  position: relative;
  animation: loader 2s infinite ease;
}
.loader-inner {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

a:hover {
  text-decoration: underline;
}

/* Responsive */

@media only screen and (max-width: 768px) {
  .circle1 {
    opacity: 0;
  }
  .circle2 {
    opacity: 0;
  }
  .glass {
    width: 470px;
    height: 500px;
  }
  .dashboard {
    width: 100px;
    justify-content: end;
  }
  .user {
    opacity: 0;
  }
  .games {
    width: 370px;
  }
  .status {
    align-items: center;
    text-align: center;
    font-size: 10px;
  }
  h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .circle1 {
    opacity: 0;
  }
  .circle2 {
    opacity: 0;
  }
  .glass {
    width: 400px;
    height: 400px;
  }
  .user {
    opacity: 0;
  }
  .dashboard {
    width: 20px;
    justify-content: end;
  }
  .games {
    width: 20px;
  }
  .status {
    align-items: center;
    text-align: center;
    font-size: 10px;
  }
  h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 320px) {
  .glass {
    width: 270px;
    height: 500px;
  }
  h1 {
    font-size: 25px;
  }
}
